@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5f7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff5f7;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: var(--font-playfair-display);
}

p {
  font-size: 0.9rem; /* 15px */
  line-height: 1.6;
}
